body {
  background-color: lightcyan;
}

p {
  font-family: Lato;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  text-align: left;
  text-shadow: 2px 2px 5px bisque;
}

table {
  border-spacing: 0;
  background-color: #ddd;
  width: 100%;
  border: 1px solid #f2f2f2;
}

th {
  text-align: center;
}
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
