p {
  font-family: Lato;
}
/* here we make the design */

/*table, th, td {
  table-layout:fixed;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}*/

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}